body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 80px;
	font-weight: 600;
	color: #192b59;	
}

.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.btn-primary {
	color: #fff;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #1085e4;	
	border: 1px solid #1085e4;
	padding: 20px 40px;
	border-radius: 30px;
}

.btn-primary:hover {
	color: #1085e4;
	background-color: #fff;
}

.btn-secondary {
	color: #7e8bae;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #cbdbe8;	
	border: 1px solid #cbdbe8;
	padding: 20px 40px;
	border-radius: 30px;
}

.btn-secondary:hover {
	background-color: #fff;
}

.btn-free {
	font-weight: 400;
	padding: 20px 56px;
	letter-spacing: 1.7px;
	border: 1px solid #1085e4;
}

.btn-info {
	color: #8085b1;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: 700;
	background-color: transparent;
	padding: 20px 40px;
	text-transform: uppercase;
	border: 1px solid #dce1e5;
	border-radius: 30px;
}

.btn-group a + a {
	margin-left: 15px;
}

.grid h2 {
	font-size: 40px;
	color: #192b59;
	font-weight: 700;
}

.grid h2 span {
	font-size: 14px;
	color: #1085e4;
	display: block;
}

.grid-item h3 {
	font-size: 20px;
	color: #192b59;
	font-weight: 600;
}

.grid-item a {
	font-size: 14px;
	color: #1085e4;
	font-weight: 600;
}

.page-subscribe h2, p, input, button {
	color: #ffffff;
}

.page-subscribe span {
	color: #00bffe;
}

.page-software h3 {
	color: #192b59;
}

.page-software dl dt {
	color: #7581a1;
	font-style: 16px;
	font-weight: 600;
}

.page-software dd {
	color: #7581a1;
}

.page-stat h3 {
	color: #192b59;
}

.page-stat h3 span {
	color: #1085e4;
}

.page-stat ul li {
	font-size: 12px;
	color: #1085e4;
}

.page-stat ul li span {
	color: #bacbdc;
	font-size: 60px;
}

.page-app h2 {
	color: #192b59;
}